body{
	background: url(back.jpg) no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lato';
}

.shell{
	position: absolute;
	height:auto;
	width: 500px;
	background-color: rgba(255,255,255,0.8);
	top: 50%;
	left:50%;
	margin-top: -200px;
	margin-left: -300px;
	text-align:center;
	padding-top: 30px;
}

h1{
	margin: 0;
	display: inline-block;
}

.btn-close{
	width:20px;
	height: 20px;
	background-color: #f44e42;
	color: #fff;
	text-align: center;
	float:right;
	margin-top: -30px;
	cursor: pointer;
}

.form{width: 100%;}

input{width:70px;}

.btn-sub{
	display: inline-block;
	width: 60px;
	height: 23px;
	line-height: 23px;
	background-color: #f44e42;
	color: #fff;
	cursor: pointer;
}

.cor-sco{
	display: inline-block;
	width: 100%;
}

.corr{
	margin-left: 170px;
	margin-right: 30px;
	float: left;
}

.label{
	float: left;
	margin-right: 10px;
}

.sco{float: left;}

.green{color:green;}
.red{color:red;}

.btn-next{
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #f44e42;
	color: #fff;
	cursor: pointer;
}